.coverimage {
    height: 100px;
    width: auto;
  }

.login{
  position:absolute;
  right: 100px
}

.logout{
  position: absolute;
  right: 10px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center; 
}

.novel-description {
  white-space: pre-wrap;
  word-break: keep-all;
  text-align: left;
}